.header{background-color: rgb(80, 250, 88); height: 80px;}
.h1{color: aliceblue;
}
.texts{color: azure;}
.text-center{color: azure;}
.img{
     /* border: 1px solid; */
    border-radius: 10px;
    padding: 3px;
    margin: 10px;
    display: inline;
    width: 70px;
}
.hidden{display: contents;}
.parent-img{display:inline-block ;  }
.main{padding-top:  200px;}
.parent{display: flex; justify-content: space-around;}
.texts{display: flex;  justify-content: space-around;}
.btn:hover{
    box-shadow: 5px 10px 15px;
}

@font-face {
    font-family: 'rubick';
    src: url("/font/RubikBurned-Regular.woff") format("woff");
}
.text-center{
    font-family: rubick;
}
.bgc{
    background-color: rgb(184, 247, 156);
}
.imge{
    /* border: 1px solid; */
   border-radius: 10px;
   padding: 3px;
   margin: 10px;
   display: inline;
   width: 70px;
}
